<a href="https://colab.research.google.com/github/SimoneFinessi/Python/blob/main/ricerca_in_stringhe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
movie = pd.read_csv('https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv')
movie.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [9]:
movie[movie["Film"].str.contains("the")]["Film"]#trovare una parola in una Stringa

25    Sex and the City Two
26      Sex and the City 2
27        Sex and the City
49      Love & Other Drugs
63      Going the Distance
72     Across the Universe
Name: Film, dtype: object

In [ ]:
movie[movie["Film"].str.endswith("on")] #visualizzare i film che finiscono con on

In [ ]:
movie[movie["Film"].str.startswith("T")] #visualizzare i film che iniziano con T

In [ ]:
movie.sort_values(by=["Film"])#visualizzare in ordine alfabetico i Film

In [ ]:
movie.sort_values(by=["Film"],ascending=False)#visualizzare in ordine decrescente i Film

ascending e preimpostato su true quidni per afrloa l contrario si imposta False

ordinare prima sul genere e poi sul nome del film

In [28]:
movie.sort_values(by=["Genre","Film"],ascending=True)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
55,Killers,Action,Lionsgate,45,1.245333,11,$93.40,2010
64,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011
65,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
...,...,...,...,...,...,...,...,...
7,Waitress,Romance,Independent,67,11.089742,89,$22.18,2007
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
43,Midnight in Paris,Romence,Sony,84,8.744706,93,$148.66,2011
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007